---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>My Astro Site</h1>
        <h2>About Me</h2>
        <p>This is the about page where you can learn more about me.</p>
        <p>I am working through Astro's introduction tutorial.</p>
        <p>This site will update as I complete the tutorial, so keep checking back!</p>
	</body>
</html>
